#body {
  font-family: lato, sans-serif;
}

nav {
  background-color: #06141E;
  color: white;
  padding: 10px
}

.nav-inner {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: auto
}

strong {
  font-size: 14px;
}

article {
  margin: 50px 0;
}

article h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

img {
  width: 100%;
  position: relative;
  max-width: 1200px
}

h3 {
  font-size: 18px; 
  font-weight:600;
}

h1 {
  font-weight: 700 !important;
  color: #000E2F;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  margin: 5px 0px;
}

.cemetery-information h1,
.cemetery-information h3 {
  margin: 5px
}

.cemetery-information h1 {
  font-size: 24px;
}

.cemetery-information h3 {
  font-size: 18px;

}


ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px
}


footer div div {
  background-color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 100px;
  padding: 10px;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-container {
  display: flex;
  align-items: center;
}

.inner-cemeteries-ul {
  margin-left: 20px;
}

.inner-cemeteries-ul li {
  margin-bottom: 10px
}

#cemeteries-list li {
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.cemetery-reference li {
  margin-bottom: 10px;
}


.inner-cemetery p {
  margin-bottom: 1rem !important;
}

h4 {
  font-size: 16px !important;
}

#cemeteries-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-content: space-between;
}

.cemetery-block {
  border-bottom: 6px solid #1F4865;
  box-shadow: 0 4px 7px 0px rgba(0, 0, 0, .15);
  width: 100%;
  border-radius: 10px;
}

.cemetery-block a {
  color: #000 !important;
  text-decoration: none !important;
}

.cemetery-block img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

footer div h2 {
  font-family: 'Libre Baskerville', serif;
  color: white;
  margin: 0;
  text-align: center;
}

footer {
  background-color: #1F4865;
  margin: 0;
  padding: 50px

}

.cemetery-block h2 {
  font-weight: 600;
  font-size: 24px;
  padding: 5px 20px 0px 20px;
  margin-bottom: 5px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  max-height: 100%;
  padding: 10px;
}

.cemetery-block p {
  margin: 0px 20px 20px 20px;
}

.cemetery-label {
  display: flex;
  gap: 10px;
}

.cemetery-label span {
  color: #fff;
  background-color: #1F4865;
  font-weight: 600;
  padding: 5px 5px;
  margin-top: 5px;
}

.cemetery-cover-img {
  object-fit: cover;
}

.figure img {
  object-fit: contain;
  padding-top: 20px;
  width: 100%;
}

.tool-tip {
  position: relative;
  left: 35px;
  display: flex;
  align-items: center;
}

.filter-name {
  color: white;
  padding: 2px 5px;
  background-color: #000;
  border-radius: 5px;
  font-size: 14px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid black;
}

.cemetery-figure {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  text-align: center;
  margin: auto;
}

.label-contain {
  display: flex;
  flex-direction: column;
}

/* CUSTOM CHECKBOXES /*
/* The container */
.checkbox-contain {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}

/* Hide the browser's default checkbox */
.checkbox-contain input {
  cursor: pointer;

}

.checkmark {
  margin: 5px;
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
}

/* Create a custom checkbox */


/* On mouse-over, add a grey background color */
.checkbox-contain:hover input~.checkmark,
.checkbox-contain input:checked~.checkmark {

}

/* When the checkbox is checked, add a blue background */


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-contain input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-contain .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tags-container {
  display: flex;
  gap: 20px;
}

.tool-tip {
  visibility: hidden;
}

button:hover~.tool-tip {
  visibility: visible
}


.filter-button {
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
}

input[type="text"] {
  font-size: 12px;
}

select {
  font-size: 14px;
}

input::placeholder {
  opacity: 0.5;
  color: #6E6E6E;
  font-size: 12px;
}



h4 {
  font-size: 14px;
}

.marker-red {
  background-image: url('../img/mapbox-icon-beige.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-red-clicked {
  filter: brightness(100);
  width: 50px;
  height: 50px;
}


#search-bar {
  width: 300px;
  padding: 10px;
  color: #6E6E6E;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
}

.fa-magnifying-glass,
.fa-filter {
  color: #6E6E6E
}

i {
  color: black
}


/* button {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
width: 30px;
height: 30px
;} */

.filters {
  background-color: #fff;
  height: 100%;
  padding: 10px;
  border-radius:10px;
}

.filter-tags {
  background-color: rgb(237, 240, 242);
  left: 0%;
  top: 0%;
  z-index: 22;
  width: 100%;
  height: 100%;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 960px) {
  #cemeteries-list li {
    margin-bottom: 5%;
  }

  #cemeteries-list {
    grid-template-columns: repeat(auto-fill, 32%);
  }

  .filters {
    position: sticky;
    top: 20px;
    min-width: 220px;
  }

  #cemeteries-list {
    margin-top: 20px;

  }

}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#map {

  height: calc(100vh - 76px);
}

#map-popup {
  position: absolute;
  background-color: rgb(237, 240, 242);;
  left: 0%;
  top: 0%;
  z-index: 20;
  width: 40%;
  height: 100%;
  translate: -50vw;
  /* overflow: auto; */
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);

}

.read-more-button {
  border: none;
  background-color: rgb(53, 121, 177);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
  color: white;
  padding: 10px;
  font-size: 12px;
}

.pop-up-container {
  /* display: flex; */
  padding: 10px;
  gap: 10px;
  position:sticky;
  width:100%;

  height:50px;
  z-index:9999;
}

.sidebar {
  height:100%;
  width:200px;
  
}

.top-bar {
  position:sticky;
  width:100%;

  height:50px;
  z-index:9999;
}

.top-bar-wrap {

  height:50px;
}

.sidebar-text {
    overflow:scroll;
  height:500px;
  z-index:-1;
  padding-top:5px;
}

.button {
  position:absolute;
  top:0px;
  right:0px;
}

.cemetery-information {
  width: 100%;
}

.read-more-button:hover {
  background-color: rgb(33, 78, 115);
}

.mapboxgl-popup-content {
  padding: 0;
  margin: 0;
  display: flex!important;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
  border-radius:10px!important;
  text-align:center!important;
  box-shadow: 0 0 7px rgba(0,0,0,.5)!important
}

.mapboxgl-popup-content p, .mapboxgl-popup-content h3{
  margin-bottom:0px!important;
}

.pop-up-image{
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
  margin-bottom:10px;
}

.mapboxgl-popup-close-button{
  font-size:25px;
}

.mapboxgl-popup-content a{
  color:#fff;
  background-color:#06141E;
  text-decoration:none;
  padding:10px;
  border-radius:10px;
}

.mapboxgl-popup{
  z-index:100;
}

.cemetery-name {
  font-size: 16px;
}

.description-text {
  padding: 10px;
}

.close-button {
  position: absolute;
  z-index: 100;
  width: 30px;
  height: 30px;
  top: 5px;
  border: none;
  right: 5px;
  background-color: rgb(237, 240, 242);
}

.navigation-items {
  display: flex;
}

.navigation-items a{
  text-decoration:none;
}

.fa-bars {
  display: none;
}

@media screen and (max-width:500px){
  #map-popup {
    width: 100%;
  }
}

@media screen and (max-width:700px) {
  .pop-up-container {
    flex-direction: column;
  }

  #search-bar {
    width: 200px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .navigation-items {
    display: none;
  }

  .fa-bars {
    display: block;
    width: 25px;
    height: 25px;
  }

}

@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
  justify-content:flex-end;
}
}